
html, body{
    height:100%;
    width: 100%;
}
.loginBlock{
    margin-top: 17%;
    margin-left: 41%;    
    position: fixed;
}
.loginForm{
    padding: 45px;
    padding-bottom: 70px;
    background: aliceblue;
    z-index: 100;
}
.form-group{
    margin-top: 10px;
    float: left;
}
.logo{
    position: fixed;
    left: 0;
    bottom: 0;
    opacity: 0.12;
    z-index: 1;
}
.loginStatus{
    color: red;
}