<!DOCTYPE html>
<!--
 * Copyright 2013 The Chromium Authors. All rights reserved.  Use of this
 * source code is governed by a BSD-style license that can be found in the
 * LICENSE file.
-->

<html ng-app="purchaseApp">
<head>
<meta charset="utf-8">
<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">-->
<link rel="stylesheet" href="./css/bootstrap.css">
<link rel="stylesheet" href="./css/main.css">
<link rel="stylesheet" href="./css/select.css">
<script src="./js/angular.min.js"></script>
<script src="./js/jquery-3.2.1.min.js"></script>
<script src="./js/select.js"></script>

</head>
  <body ng-controller="purchaseController" ng-cloak>
    <div id="content">
      <div id="listsinput" class="listsInput" >
        <img id="addTolistsImg" class="addTolistsImg" style="{{list.addProfileStyle}}" ng-click="addToList(list.cur_userList)" src="imgs/addToList.png" />
        <img id="okAddTolistsImg" class="okAddTolistsImg" style="{{list.okAddProfileStyle}}"  src="imgs/okico.png" />
        <select id="lists" ng-model="list.cur_userList">
            <option ng-repeat="list in list.userLists" value="{{list.id}}">{{list.title}}</option>
        </select>
        </div>
        <button class="btn btn-success" ng-click="addList(list.url_list)" ng-disabled="false">Добавить список</button>
        <textarea id="myTextarea" class="urlList" rows="11" cols="32" ng-model="list.url_list" ng-list="&#10;" ng-trim="false"></textarea>
      </div>
    <script src="./js/main.js"></script>
  </body>
</html>
